<?xml version="1.0"?>
<ModuleSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProductsFromSce />
  <PriceMarkups>
    <PriceMarkup>
      <From>1</From>
      <To>3</To>
      <Markup>2</Markup>
    </PriceMarkup>
    <PriceMarkup>
      <From>3.01</From>
      <To>5</To>
      <Markup>1.8</Markup>
    </PriceMarkup>
    <PriceMarkup>
      <From>5.01</From>
      <To>8</To>
      <Markup>1.7</Markup>
    </PriceMarkup>
    <PriceMarkup>
      <From>8.01</From>
      <To>10</To>
      <Markup>1.65</Markup>
    </PriceMarkup>
    <PriceMarkup>
      <From>10.01</From>
      <To>15</To>
      <Markup>1.6</Markup>
    </PriceMarkup>
    <PriceMarkup>
      <From>15.01</From>
      <To>20</To>
      <Markup>1.55</Markup>
    </PriceMarkup>
    <PriceMarkup>
      <From>20.01</From>
      <To>9999999</To>
      <Markup>1.5</Markup>
    </PriceMarkup>
  </PriceMarkups>
  <LoadBeforeUpdate>true</LoadBeforeUpdate>
  <RemoveFilesAfterUpdate>true</RemoveFilesAfterUpdate>
</ModuleSettings>